.lanchonete-screen {
  padding: 0;
  margin: 0;
  background-color: #1226AA;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Para posicionar o botão absolutamente */
}

.lanchonete-screen button.Home {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #7f2222;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lanchonete-screen button.Home:hover {
  background-color: #f0f0f0;
}

.lanchonete-screen p.titulo {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  margin-top: 60px; /* Espaço para o botão */
  margin-bottom: 2rem;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.search-container form {
  width: 70%;
  max-width: 900px;
  position: relative;
}

.search-container input {
  padding: 12px 20px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Adicionando ícone de busca (opcional) */
.search-container form::after {
  content: "🔍";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}