<div class="home-1">
  <div class="starter">
    <h1>Onde tem na UFMG</h1>
    <p>Descubra as lanchonetes do campus da UFMG, compare os preços e faça a melhor escolha!</p>
    <a href="#lanchonetes" class="scroll-down">▼</a>
  </div>
  <div class="lanchonetes">
    <div class="block-1">
      <h1>Lanchonetes</h1>
      <p>Descubra as lanchonetes do campus e os preços dos itens.</p>
    </div>
    <div class="block-2"></div>
  </div>
  <div class="price-comparison">
    <div class="block-1">
      <h1>Comparador de preços</h1>
      <p>Compare os preços entre as lanchonetes e faça a melhor escolha!</p>
    </div>
    <div class="block-2">
    </div>
  </div>
  <div class="contact">
    <h1>Informar mudança de preços</h1>
    <p>Entre em contato para alertar sobre eventuais mudanças de preço.</p>
  </div>
</div>