<div class="comparison-container">
  <h2>Comparação de Preços</h2>

  <button (click)="toggleModoVisualizacao()" class="sort-button">
    {{ modoVisualizacao === 'alfabetica' ? 'Ordenar por Preço Médio' : 'Ordenar Alfabeticamente' }}
  </button>

  <div class="table-wrapper">
    <table class="price-comparison-table">
      <thead>
        <tr>
          <th class="item-header">Item</th>
          <th *ngFor="let lanchonete of lanchonetes">{{ lanchonete.Nome }}</th>
          <th *ngIf="modoVisualizacao === 'precoMedio'">Preço Médio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
          <td class="item-name">{{ item.Item }}</td>
          <td *ngFor="let lanchonete of lanchonetes">
            <ng-container *ngIf="getPreco(item, lanchonete.Nome); else vazio">
              R$ {{ getPreco(item, lanchonete.Nome) }}
            </ng-container>
            <ng-template #vazio>
              <span class="nao-disponivel">-</span>
            </ng-template>
          </td>
          <td *ngIf="modoVisualizacao === 'precoMedio'" class="average-price">
            R$ {{ calcularPrecoMedio(item).toFixed(2) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a href="/" class="fab-home" aria-label="Home">🏠</a>
</div>